.top-header {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: 'Caprasimo', cursive;
    margin: 0;
    font-size: 3rem;
    color: rgb(89, 77, 77);
}